<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>


<div>
<div id="app">
  {{ message }}

<input v-model="todo_name" placeholder="タスク">
<input v-model="score" placeholder="重要度" number>

<p>Message is: {{ todo_name }}</p>


 
<span>
  <button  v-on:click="appdata">add</button>
</span>

</div>
</div>

<script src="front.js"></script>

  </body>
</html>
