<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <head>
    <meta charset="UTF-8">
    <title>TODO</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
<div>

<div id="input_app">
<input v-model="todo_name" placeholder="タスク">
<select  placeholder="重要度" v-model= "score">
<option v-for="item in items" >{{ item.score_val }}</option>
</select>
<span>
  <button  v-on:click="appdata">add</button>
</span>
</div>

<div id="todolist">
<div v-for= "todo in todo_data">
  <input type="checkbox" v-model="todo.checked" id="checkbox" value="todo.checked" v-on:change="is_checked">
  {{ todo.todo }}
</div>
</div>

</div>
<script src="front.js"></script>
  </body>
</html>